/**
 * TESTIMONIAL
 */

.testimonial {
	padding: 0 10px;
}

.testimonial__quote {
	width: 58px;
}

.testimonial__img-wrap {
	width: 220px;
}

.testimonial__img {
	width: 100%;
}

.slick-slide {
	outline: none;
}