/**
 * COLOR SCHEME
 */

$teal1:		#42A99C;
$teal2:		#368E83;
$teal3:		#7BC2B9;

$grey1:		#434343;
$grey2:		#606260;
$grey3:		#9B9B9B;
$grey4:		#F1F1F2;

$white:		#FFFFFF;

$danger:	#F44336;

// range slider colors
$range-slider-grey:	#E6E7E8;